
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.Welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
}

.content-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}

.GetStartedButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


